.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href='admin/user-list.html')
          i.nav-icon.fas.fa-user
          |  Users
      li.nav-item
        a.nav-link(href='admin/create-user.html')
          i.nav-icon.fas.fa-user-plus
          |  Add user
      li.nav-item.nav-dropdown
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.fas.fa-trophy
          | Compertition
        ul.nav-dropdown-items
          li.nav-item
            a.nav-link(href='admin/upcoming-compertition.html')
              i.nav-icon.fas.fa-trophy
              | Upcoming
      li.nav-item
        a.nav-link(href='admin/posting.html')
          i.nav-icon.fas.fa-pencil-ruler
          |  Posting
