.sidebar
  nav.sidebar-nav
    ul.nav
      li.nav-item(data-role="1,")
        a.nav-link(href='admin/user-list.html')
          i.nav-icon.fas.fa-user
          |  Users
      li.nav-item(data-role="1,")
        a.nav-link(href='admin/create-user.html')
          i.nav-icon.fas.fa-user-plus
          |  Add user
      li.nav-item.nav-dropdown(data-role="3,4")
        a.nav-link.nav-dropdown-toggle(href='#')
          i.nav-icon.fas.fa-trophy
          | Compertition
        ul.nav-dropdown-items(data-role="4,")
          li.nav-item
            a.nav-link(href='admin/upcoming-compertition.html')
              i.nav-icon.fas.fa-trophy
              | Upcoming
      li.nav-item(data-role="3, 4")
        a.nav-link(href='admin/posting.html')
          i.nav-icon.fas.fa-pencil-ruler
          |  Posting
