extends /default.pug

block scripts
  if !starter
    script(src='js/user-list.js')

block view
  .animated.fadeIn
    .row
      .col-lg-12.mt-4
        .card
          .card-header.d-flex.align-items-center
            div.mr-auto.mb-0
              i.fa.fa-align-justify.mr-2
              | User list
            a.btn.btn-primary(href="admin/create-user.html")
              i.fas.fa-plus.mr-2
              | Add user
          .card-body
            table#userList.table.table-responsive-sm.table-striped
              thead
                tr
                  th Username
                  th Birthday
                  th Role
                  th Status
                  th(style="width: 103px")
              tbody
                tr#rowData
                  td Yiorgos Avraamu
                  td 2012/01/01
                  td Member
                  td
                    span.badge.badge-success Active
                  td
                    a.btn.btn-sm.btn-warning.btn-pill.text-white(href="#")
                      i.fas.fa-user-edit
                    a.btn.btn-sm.btn-danger.btn-pill.ml-3(href="#")
                      i.fas.fa-trash-alt
            ul.pagination
              li.page-item
                a.page-link(href='#') Prev
              li.page-item.active
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') 4
              li.page-item
                a.page-link(href='#') Next
