extends /default.pug

block defaultBody
  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.sidebar-lg-show
    .app-body
      main(style="flex-grow: 1")
        .container-fluid.header-fixed
          block view
            nav.navbar.navbar-expand-lg.navbar-dark.bg-danger(style="background-color: #e45151 !important")
              a.navbar-brand.font-weight-bold(href='#')
                i.fas.fa-palette.text-white.pr-2
                | Fine-Arts
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                  li.nav-item.active
                    a.nav-link(href='#')
                      | Home
                      span.sr-only (current)
                  li.nav-item
                    a.nav-link(href='#') Link
                form.form-inline.my-2.my-lg-0
                  input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                  button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    include ../partials/scripts.pug
