extends /pages.pug

block view
  .container
    .row.justify-content-center
      .col-md-5
        .card-group
          .card.p-4
            form#loginForm.card-body
              h1.text-center.mb-4(style="color: #d34747")
                i.fas.fa-palette.pr-2
                | Fine-Arts
              .input-group.mb-3
                .input-group-prepend
                  span.input-group-text
                    i.icon-user
                input#username.form-control(type='text', placeholder='Username')
                .invalid-feedback
                  | Please provide a valid informations.
              .input-group.mb-4
                .input-group-prepend
                  span.input-group-text
                    i.icon-lock
                input#password.form-control(type='password', placeholder='Password')
                .invalid-feedback
                  | Please provide a valid informations.
              .row
                .col-6.offset-3
                  button.btn.btn-primary.px-4(type='submit', style="background-color: #d34747; border-color: #d34747") Login
